.sidebar-w {
  width: 240px;
}

.bg-main {
  background-color: #1d2024;
}

.scene-button {
  cursor: pointer;
}

.scene-button:hover {
  background-color: #0266c8 !important;
}

.scene-button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.menu-button:hover {
  background-color: #084fab !important;
}

.active {
  background-color: #0266c8 !important;
}

.edit {
  cursor: pointer;
}

.edit:hover {
  color: #084fab !important;
}

.inputEdit {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  outline: white solid 2px;
  border-radius: 5px;
  margin-right: 2rem;
  padding-left: 0.5rem;
  font-weight: 500;
}
